---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang=" ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #f9f9f9;
		background-size: 224px;
	}
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
</style>
